.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #333;
}

.heading span {
  color: var(--bgColor);
}

.shoppingCart .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.shoppingCart .boxContainer .box {
  padding: 2rem;
  border: 0.2rem solid #333;
  background: var(--color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.shoppingCart .boxContainer .box svg {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.shoppingCart .boxContainer .box svg:hover {
  color: #333;
}

.shoppingCart .boxContainer .box img {
  height: 12rem;
}

.shoppingCart .boxContainer .box .content h3 {
  font-size: 1.7rem;
  color: #333;
}

.shoppingCart .boxContainer .box .content form {
  padding: 1rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.shoppingCart .boxContainer .box .content form span {
  font-size: 1.5rem;
  color: #666;
}

.shoppingCart .boxContainer .box .content form input {
  width: 7rem;
  padding: 0.5rem 1rem;
  color: #666;
  border-radius: 0.5rem;
  background: var(--color);
  font-size: 1.5rem;
}

.shoppingCart .boxContainer .box .content .price {
  font-size: 2rem;
  color: var(--bgColor);
}

.shoppingCart .boxContainer .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.shoppingCart .cartTotal {
  margin-top: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  background: var(--color);
  padding: 2rem;
  padding-top: 1rem;
}

.shoppingCart .cartTotal {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}

.shoppingCart .cartTotal h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}

.shoppingCart .cartTotal h3 span {
  color: var(--bgColor);
}

.shoppingCart .cartTotal .btn {
  background: var(--bgColor);
  color: var(--color);
  padding: 0.5rem;
  font-weight: var(--fontWeightBold);
  font-size: large;
  border-radius: 5px;
}
