.products .heading {
  margin: 1rem 0;
  text-align: center;
  font-size: var(--titleFontSize);
}

.products .heading span {
  color: var(--bgColor);
}

.products .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 2rem;
}

.products .boxContainer .box {
  border: 0.2rem solid var(--bgColor);
  text-align: center;
  background: var(--color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
}

.products .boxContainer .box:hover .image .hoverImg {
  display: inline-block;
}

.products .boxContainer .box:hover .image .mainImg {
  display: none;
}

.products .boxContainer .box:hover .image .icons {
  left: 1rem;
}

.products .boxContainer .box .image {
  position: relative;
}

.products .boxContainer .box .image img {
  height: 35vh;
  animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.products .boxContainer .box .image .hoverImg {
  display: none;
}

.products .boxContainer .box .image .icons {
  position: absolute;
  top: 0;
  left: -7rem;
}

.products .boxContainer .box .image .icons a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  color: var(--color);
  background: #333;
}

.products .boxContainer .box .image .icons a:hover {
  background: var(--bgColor);
}

.products .boxContainer .box .content {
  padding: 2rem;
}

.products .boxContainer .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .boxContainer .box .content .price {
  font-size: 2.2rem;
  color: var(--spColor);
  padding-bottom: 0.7rem;
  padding-top: 0.5rem;
}

.products .boxContainer .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .boxContainer .box .content .stars svg {
  font-size: 1.7rem;
  color: var(--bgColor);
}
