.home {
  position: relative;
  height: 50vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.mySwiper {
  height: 50vh;
}

.mySwiper .imgBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10vw;
}

.mySwiper .imgBox img {
  height: 90%;
}

.mySwiper .slideBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mySwiper .slideBox .explain {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.mySwiper .slideBox .explain a button {
  font-size: x-large;
  height: 3rem;
  padding: 0 1rem;
  margin-top: 1rem;
  background: var(--bgColor);
  color: var(--color);
  border: none;
  cursor: pointer;
}

.mySwiper .slideBox .explain span {
  font-size: xx-large;
  font-weight: var(--fontWeightBold);
  margin-top: 1rem;
}

.mySwiper .slideBox .explain p {
  font-size: 1.3rem;
  color: var(--spColor);
  font-weight: var(--fontWeightLight);
}

.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1vw;
  height: 25rem;
}

.banner a .bannerBox {
  position: relative;
}

.banner a .bannerBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner a .bannerBox .content {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 3;
  transform: rotate(45deg);
  color: var(--spColor);
  font-size: large;
  font-weight: var(--fontWeightBold);
}

.banner a .bannerBox .content span {
  color: #222;
  font-weight: var(--fontWeightLight);
}

.arrivals h1 {
  text-align: center;
  font-size: var(--titleFontSize);
}

.arrivals .arrivalsHeading span {
  color: var(--bgColor);
}

.arrivals .newArrivalsBoxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1vw;
  margin-top: 2rem;
}

.arrivals .newArrivalsBoxContainer .newArrivalsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #eeee;
  background: #eeee;
}

.arrivals .newArrivalsBoxContainer .newArrivalsBox .content {
  margin-left: 1rem;
}

.arrivals .newArrivalsBoxContainer .newArrivalsBox .content .price {
  color: var(--spColor);
  font-weight: var(--fontWeightLight);
  font-size: large;
}

.arrivals .newArrivalsBoxContainer .newArrivalsBox .content .price span {
  text-decoration: line-through;
  color: black;
  font-size: small;
}

.arrivals .newArrivalsBoxContainer .newArrivalsBox .imgBox {
  height: 35vh;
}

.arrivals .newArrivalsBoxContainer .newArrivalsBox .imgBox img {
  height: 100%;
}
